<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <h1 class="about">1. Rammstein:</h1>
    <p>
      German Neue Deutsche Härte band formed in Berlin in 1994. The band's lead
      vocalist is Till Lindemann, lead guitarist Richard Kruspe, rhythm
      guitarist Paul Landers, bassist Oliver Riedel, drummer Christoph
      Schneider, and keyboardist Christian "Flake" Lorenz—has.
    </p>

    <h1>2. Five Finger Death Punch:</h1>
    <p>
      American heavy metal band from Las Vegas, Nevada, formed in 2005. The band
      consistes of vocalist Ivan Moody, guitarist Zoltan Bathory, guitarist
      Jason Hook, bassist Chris Kael, and drummer Charlie Engen.
    </p>
    <h1>3. Bring Me the Horizon:</h1>
    <p>
      British rock band formed in Sheffield in 2004. The group consists of lead
      vocalist Oliver Sykes, guitarist Lee Malia, bassist Matt Kean, drummer
      Matt Nicholls and keyboardist Jordan Fish.
    </p>

    <h1>4. Linkin Park:</h1>
    <p>
      American rock band from Agoura Hills, California. Vocalists Mark Wakefield
      and Chester Bennington and bassists Kyle Christner and Scott Koziol are
      former members of the band. Categorized as alternative rock,
    </p>

    <a href="/">back to home</a>
  </body>
</html>
